<section class="sct-color-1 slice">
  <div class="container-fluid masonry-container">
    <div class="row">
      <div class="col-md-8 col-sm-offset-2">
       <h1 class="glyphicon glyphicon-book">Welcome to Bookers!</h1>
        <p align="right">CopyRight Infratop.inc</p>
      </div>
    </div>  
  </div>
</section>