<section class="sct-color-1 slice">
  <div class="container-fluid masonry-container">
    <div class="row">
      <div class="col-md-8 col-sm-offset-2">
        <% if flash[:notice] %>
         <div class="flash">
         <%= flash[:notice] %>
          </div>
           <% end %>
        <h1>Welcome to</h1>
          <span class="glyphicon glyphicon-book"><strong>Bookers</strong>  !!</span>

              

              <div class="block-content">
                <p>In Bookers,<br>
                   you can share and exchange your opinions , inpressions , and emotions<br>
                  about various books!</p>
                <ul>
                <li style=" list-style: none;">
                   <%= link_to "Log In", new_user_session_path, class:"btn btn-info" %>
                  </li>
                  <li style=" list-style: none;">
                    <%= link_to "Sign Up", new_user_registration_path, class:"btn btn-success" %>
                  </li>
                </ul>
                <p align="right">CopyRight Infratop.inc</p>
              </div>
          
      </div>
    </div>
  </div>
</section>